@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark:#111827;
    --dark-content-bg:#1f2937;
    --secondary-content-bg:#27313e;
    --highlight:#a9792b;
    --primary-text:#dcdcdc;
    --secondary-text:#acb1b8;
    --pink:#f472b6;
}

*{
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

body{
    background-color: var(--dark);
    color: var(--primary-text);
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        
        .item{
            background-color: var(--dark-content-bg);
            border: none;

            &:hover{
                background-color: var(--secondary-content-bg);
            }
        }

        .item.active{
            background-color: var(--highlight);
        }

    }
}